:root {
	color-scheme: light;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: var(--p-surface-50);
	color: var(--p-text-color);
}

a {
	color: var(--p-primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
